{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<title>Error Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
<script src="{% static 'js/preloader.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/error/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/jquery.spritely-0.6.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>
<body >
<div id="indicator"></div>
<div class="wrapper">
	<div class="sky init">
	<div id="clouds" class="clouds init"> </div>
	</div>
	
	<div class="convas init">
		<div id="mountain" class="mountain"></div>
		<div class="ground"></div>
		<div class="holder">
		<div class="rocks"></div>
		<div class="work-sign"></div>
		<div class="text-sign">
			<div class="text font">
                {{ msg }}
			</div>
		</div>
		<div class="init hole">
			<div class="sweat"></div>
			<div class="worker swing "></div>
			<div class="ground-bottom">
				<div class="cleaner"></div>
			</div>
		</div>
		</div>
	</div>
</div>
</body>
</html>

